@page "/"
@using WebAPI.Services
@using WebAPI.Models

@inject ISellerService Iseller


<PageTitle>Index</PageTitle>


<h1>Bem Vindo</h1>

<h1>Gerenciamento de vendas e seus vendedores</h1>


<SurveyPrompt Title="How is Blazor working for you?" />
@code{

	

}