@page "/opportunityList"

@using WebAPI.Models;
@using WebAPI.Services;

@inject IOpportunityService Iopportunity;

<div class="Title-Opportunity">

	<h3>Lista de Oportunidades</h3>

</div>

<div class="Table-Opportunity">
	<table class="table">
				<thead>
					<tr>
						<th>Oportunidade</th>
						<th>Valor</th>
						<th>Vendedor</th>
						<th></th>
					</tr>
				</thead>

	@if(opportunity == null)
	{

		<tbody>
		
			<h4>Carregando...</h4>

		</tbody>
	}
	else
	{
				<tbody>
					@if(opportunity.Count() == 0){
						<tr>
							<p>Sem Oportunidades Cadastradas</p>
						</tr>
					
				}
				else
				{
					@foreach(var item in opportunity)
					{
								<tr>
									<td>@item.Name</td>
							
									<td>@item.Value</td>
							
									<td>@item.Seller.Name</td>

									<td>
										<span class="bi bi-pencil-square" style="color:#024E9F;font-size:1.3rem;"></span>
									
										<span class="bi bi-trash3" style="color:#B80404; font-size:1.3rem;"></span>
									</td>
								</tr>
			
			
					}
				}
				
				</tbody>
	}
	</table>
</div>
@code {
	private List<Opportunity> opportunity;

	protected override async Task OnInitializedAsync()
	{
		opportunity = await Iopportunity.GetOpporttunity();
	}


}
